<!DOCTYPE html>
<html >
  <footer class="footer mt-5 py-4"> <!--top margin, vertical padding-->
  <div class="container text-center"> <!--Centers content-->
    <p class="mb-2">&copy; 2025 Dorothy Sahijwani.</p>  <!--bottom margin-->
    <div class="social-links">
      <a href="https://github.com/Dorothy-S" class=" me-3">   <!--right margin, no underline-->
        <i class="fab fa-github"></i> GitHub
      </a>
      <a href="https://linkedin.com/in/dorothy-sahijwani" > <!--no underline-->
        <i class="fab fa-linkedin"></i> LinkedIn
      </a>
    </div>
  </div>
</footer>
</html>